/* règles génériques */
* {
  box-sizing: border-box;
}

img {
  color: inherit;
}

body {
  background-color: #eaeaea;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

em {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

/* en tête */
header {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  height: 100vh;
  padding: 0.625rem 3rem;
  background-color:  #0ac3a7;
  color: #fff;
  text-align: center;
  position: relative;
}

header img {
  max-width: 25rem;
  border-radius: 50%;
  border: 20px solid grey;
}

h1 {
  padding-top: 1rem;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0 auto;
  padding-bottom: 0.625rem;
}

nav ul {
  display: flex;
  justify-content: center;
  margin: 0 auto;;
  list-style-type: none;
  text-decoration: none;
}

nav li {
  margin-right: 2.5rem;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #222;
  background-color: #444;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
}

nav a:hover {
  color : red;
  font-size: 0.9rem;
}



/* corps de la page */
section{
  display: flex;
  padding-top: 7rem;
}

/* première section */
#s01 {
  background-color: #00a3e8;
  height: 100vh;

}

#s01 .left{
  padding: 2rem;
  background-color: #00a3e8;
  width:  50%;
}

#s01 li {
  padding : 0.625rem;
  margin: 0 2rem;
  line-height: 1.2rem;
}


#s02 {
  background-color: #617cbe;
  height: 100vh;
}

#s02 .right{
  padding: 2rem;
  background-color: #617cbe;
  width:  50%;
}

img{
  width: 50%;
  padding: 0.625rem;
}

#s03 {
  background-color: #ffda3d;
  height: 100vh;
}

#s03 .left {
  padding: 2rem;
  background-color: #ffda3d;
  width: 50%;
}
